<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/home.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script rel="stylesheet" href="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>

        <p>{{error}}</p>

        <p>Address: {{address}}</p>

        <p>Weather: {{forecast}}</p>

        <p>Location: {{location}}</p>
    </div>
    
    {{>footer}}
</body>

</html>